
body {
    background-color: #f30909; /* Color de fondo de la página */
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container input {
    display: block;
    margin: 0 auto; 
    padding: 10px;
    font-size: 30px;
    width: 100%;
  
  }
  
  
  .container button {
    display: run-in;
    margin: 10px auto;
    padding: 10px 20px; 
    width: 100%;
    background-color: rgb(99, 171, 132);
    color: rgb(0, 0, 0);
    font-size: 20px; 
  
  }

  .container2 input {
    display: block;
    margin: 0 auto; 
    padding: 10px;
    font-size: 30px;
    width: 100%
  
  }
  
  
  .container2 button {
    display: run-in;
    margin-bottom: 10px;
    margin: 10px auto;
    padding: 10px 20px; 
    width: 100%;
    background-color: rgb(99, 171, 132);
    color: rgb(0, 0, 0);
    font-size: 20px; 
  
  }

  
  .container{
    text-align: center;
    position: relative;
  }
  
  .h1-1{
    font-size: 50px;
    margin-top: 5%;
  }

  .box{
    width: auto;
    height: auto;
    border: 1px solid rgb(131, 207, 255);
    background-color: rgb(109, 199, 255);
    border-radius: 15px;
    box-shadow: 0 5px 15px;
  }


